@media (min-width: 720px) {
  header {
    text-align: left;
    padding: 1.25rem 2rem;
  }

  header h1 {
    font-size: 2.4rem;
  }

  main {
    max-width: 1000px;
    padding: 0 2rem 2.5rem;
  }

  main>section {
    padding: 1.5rem 1.75rem;
    margin-bottom: 2rem;
  }

  figure img {
    max-width: 80%;
  }

  footer {
    font-size: 0.85rem;
    padding: 0.85rem 2rem;
  }
}