h2 {
    color: blue;
    margin: 0;
    border-bottom:1px dashed #999
}

section {
    margin: 10px auto;
    width: 400px;
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 7px;
}

/* "medium" media query section */
@media(min-width:32.5em) {
h2 {
        color: red;
        margin: 0;
        border-bottom: 1px dashed #999
    }
}

/* "large" media query section */
@media(max-width:64em) {
h2 {
        color: green;
        margin: 0;
        border-bottom: 1px dashed #999
    }
}